
#desktop-logo {
    opacity: 1;
}

a {
    color: #204d90;
}

.legal {
    padding: 0 1em;
    margin-top: 3em;
}

.legal p {
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .legal {
        max-width: 70vw;
        align-self: center;
    }
}